In [2]:
# AIRBNB (Lisbon & Porto) Analysis

In [3]:
# Import libraries
import pandas as pd
!pip install pandas mysql-connector-python 
from sqlalchemy import create_engine

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.12/site-packages (9.0.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
# Read the excel files

# Read and convert into DataFrame sheet 'listings_1'
pt_listings_1 = pd.read_excel('/Users/tiagovhp/Ironhack/Week_3/Project/AIRBNB_PT_RAW.xlsx', sheet_name='listings_1')

pt_listings_1 = pd.DataFrame(pt_listings_1)
pt_listings_1.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,41339,Porto city flat near the sea,180050,Paula,PORTO,Lordelo do Ouro e Massarelos,41.15010,-8.66035,Entire home/apt,56.0,7,25,2024-08-16,0.18,1,4,3,29049/AL
1,55111,Fontielas Houses |Floor1 in House with shared ...,259711,Isabel E João,PAREDES,Cete,41.17481,-8.35356,Entire home/apt,NaN,4,20,2024-08-14,0.18,3,0,1,7563/AL
2,73828,Fontielas Houses |Floor0 in House with shared ...,259711,Isabel E João,PAREDES,Cete,41.17447,-8.35423,Entire home/apt,NaN,5,15,2024-08-21,0.13,3,0,1,7563/AL
3,87873,Oporto Apartment Triplex,480980,Paula,PORTO,Bonfim,41.15786,-8.60427,Entire home/apt,100.0,3,248,2024-08-31,1.65,4,311,11,634/AL
4,94701,Big TERRACE APARTMENT / city center,505473,Gundega & Antonio,PORTO,Bonfim,41.14707,-8.60109,Entire home/apt,77.0,3,302,2024-08-28,1.86,1,337,13,85541/AL

In [5]:
# Read and convert into DataFrame sheet 'listings_2'
pt_listings_2 = pd.read_excel('/Users/tiagovhp/Ironhack/Week_3/Project/AIRBNB_PT_RAW.xlsx', sheet_name='listings_2')

pt_listings_2 = pd.DataFrame(pt_listings_2)
pt_listings_2.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,41339,https://www.airbnb.com/rooms/41339,20240914011139,2024-09-14,city scrape,Porto city flat near the sea,Welcome to our apartment located near the sea ...,The apartment is close to the Serralves Founda...,https://a0.muscache.com/pictures/miso/Hosting-...,180050,...,4.84,4.60,4.68,29049/AL,f,1,1,0,0,0.18
1,55111,https://www.airbnb.com/rooms/55111,20240914011139,2024-09-14,previous scrape,Fontielas Houses |Floor1 in House with shared ...,Is the first floor in a villa with shared pool...,NaN,https://a0.muscache.com/pictures/b3c38006-5fdf...,259711,...,4.90,4.79,4.79,7563/AL,f,3,3,0,0,0.18
2,73828,https://www.airbnb.com/rooms/73828,20240914011139,2024-09-14,previous scrape,Fontielas Houses |Floor0 in House with shared ...,Ground floor in a villa with shared pool and p...,NaN,https://a0.muscache.com/pictures/ffb19299-425c...,259711,...,5.00,4.93,4.80,7563/AL,f,3,3,0,0,0.13
3,87873,https://www.airbnb.com/rooms/87873,20240914011139,2024-09-14,city scrape,Oporto Apartment Triplex,- Cozy apartment with great sun exposition<br ...,OPorto Apartment Triplex is located on Rua San...,https://a0.muscache.com/pictures/33686513/c54f...,480980,...,4.94,4.52,4.81,634/AL,f,4,2,2,0,1.65
4,94701,https://www.airbnb.com/rooms/94701,20240914011139,2024-09-14,city scrape,Big TERRACE APARTMENT / city center,Independent apartment with big and sunny terra...,In the neighborhood we can find all type of se...,https://a0.muscache.com/pictures/812621/ab58f5...,505473,...,4.95,4.85,4.77,85541/AL,f,1,1,0,0,1.86

In [6]:
# evaluate the columns in each DataFrame
print(pt_listings_1.columns)
print(pt_listings_2.columns)

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')
Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [7]:
# Find the common columns between two Dataframes
common_columns = pt_listings_1.columns.intersection(pt_listings_2.columns).tolist()
common_columns

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365',
 'number_of_reviews_ltm',
 'license']

In [8]:
# Drop all common columns from listings_2  exept 'id'
common_columns.remove('id')
common_columns

pt_listings_2 = pt_listings_2.drop(columns=common_columns)

In [9]:
# Merge the two DataFrames into one that contains all the info from Lisbon listings
pt = pd.merge(pt_listings_1,pt_listings_2,on='id',how='inner')

# Check if there are any duplicate columns
len(pt.columns) == len(set(pt.columns))

True

In [10]:
# Create a new Dataframe with only the usefull columns
top_25_columns = [
    'id',
    'price',
    'number_of_reviews',
    'availability_365',
    'room_type',
    'neighbourhood',
    'neighbourhood_group',
    'accommodates',
    'bedrooms',
    'bathrooms',
    'host_is_superhost',
    'reviews_per_month',
    'last_review',
    'first_review',
    'calculated_host_listings_count',
    'latitude',
    'longitude',
    'property_type',
    'minimum_nights',
    'host_name',
    'host_since',
    'number_of_reviews_ltm',
    'instant_bookable',
    'host_response_rate',
    'host_acceptance_rate',
    'host_response_time'
]


pt = pt[top_25_columns]
pt.shape

(14446, 26)

In [11]:
# DATA CLEANING

In [12]:
## id
### Convert to numeric type (int)
pt['id'] = pt['id'].astype(int)
### See if there is any empty or 0 id's 
pt['id'] = pt['id'].fillna(0)
print((pt['id'] == 0).sum())
### Check for duplicates
print(len(set(pt['id'])) == len(pt['id']))

0
True

In [13]:
## price
### Remove any non-numeric characters ( $ n) -> done in excel
### Convert to numeric type (float)
pt['price'] = pd.to_numeric(pt['price'])
### Relace nan for zero
pt['price'] = pt['price'].fillna(0)
### Calculate ratio of datapoints where price = 0
total_listings=len(pt)
count_price_0 = (pt['price'] == 0).sum()
percentage_price_0 = (count_price_0 / total_listings)*100
print(percentage_price_0)
### 12,3% of datapoints have price = 0
### Delete listing where price = 0
pt = pt[pt['price'] != 0]
### Outliers -> we will keep them

11.484147860999585

In [14]:
## number_of_reviews
### Convert to numeric type (int)
pt['number_of_reviews'] = pt['number_of_reviews'].astype(int)
### Relace nan for zero
pt['number_of_reviews'] = pt['number_of_reviews'].fillna(0)

In [15]:
## availability_365
### Convert to numeric type (int)
pt['availability_365'] = pt['availability_365'].astype(int)
### Relace nan for zero
pt['availability_365'] = pt['availability_365'].fillna(0)
### Calculate ratio of datapoints where availability_365 = 0
total_listings=len(pt)
count_avaia_0 = (pt['availability_365'] == 0).sum()
percentage_ava_0 = (count_avaia_0 / total_listings)*100
print(percentage_ava_0)
### 1.6 % of datapoints have price = 0 -> we keep them

1.0088371001798702

In [16]:
## room_type
### standardization of categories
#### check the unique values of room_type to see if names are coherent
print(pt['room_type'].unique())

['Entire home/apt' 'Private room' 'Shared room' 'Hotel room']

In [17]:
## neighbourhood_group
### standardization of categories
#### check the unique values of neighbourhood_group to see if names are coherent
print(pt['neighbourhood_group'].unique())

['PORTO' 'VILA NOVA DE GAIA' 'ESPINHO' 'MATOSINHOS' 'GONDOMAR'
 'VILA DO CONDE' 'AROUCA' 'MAIA' 'VALONGO' 'PAREDES'
 'SANTA MARIA DA FEIRA' 'VALE DE CAMBRA' 'PÓVOA DE VARZIM' 'TROFA'
 'OLIVEIRA DE AZEMÉIS' 'SANTO TIRSO' 'SÃO JOÃO DA MADEIRA']

In [18]:
## accomodates
### Convert to numeric type (int)
pt['accommodates'] = pt['accommodates'].astype(int)
### Check if there any listing that accommodates 0 guests
print(pt['accommodates'].isnull().unique())

[False]

In [19]:
## bathrooms
### Convert to numeric type (float)
pt['bathrooms'] = pt['bathrooms'].astype(float)
### Relace nan for zero
pt['bathrooms'] = pt['bathrooms'].fillna(0)

In [20]:
## host_is_superhost
### Relace nan for 'f'
pt['host_is_superhost'] = pt['host_is_superhost'].fillna('f')
### Ensure all values are Boolean (T/F)
pt['host_is_superhost'] = pt['host_is_superhost'].replace({'f':False, 't':True})

/var/folders/67/kwhhh9lj76v79c9zbkp29ms40000gn/T/ipykernel_69282/2062248548.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pt['host_is_superhost'] = pt['host_is_superhost'].replace({'f':False, 't':True})

In [21]:
## reviews_per_month
### Convert to numeric type (float)
pt['reviews_per_month'] = pt['reviews_per_month'].astype(float)
### Relace nan for zero
pt['reviews_per_month'] = pt['reviews_per_month'].fillna(0)

In [22]:
## last_review
### Relace nan for zero
pt['last_review'] = pt['last_review'].fillna(0)
### Check how many
(pt['last_review'] == 0).sum()

1123

In [23]:
## first_review
### Relace nan for zero
pt['first_review'] = pt['first_review'].fillna(0)
### Check how many are 0
(pt['first_review'] == 0).sum()

### Same nr of datapoint with no last_review and no first_review -> all good, same datapoints

1123

In [24]:
## latitude
### Relace nan for zero
pt['latitude'] = pt['latitude'].fillna(0)
### Check how many are 0
print((pt['latitude'] == 0).sum())

0

In [25]:
## longitude
### Relace nan for zero
pt['longitude'] = pt['longitude'].fillna(0)
### Check how many are 0
print((pt['longitude'] == 0).sum())

0

In [26]:
## property_type
### standardization of categories
#### check the unique values of neighbourhood_group to see if names are coherent
print(pt['property_type'].unique())
### two many categories, we can drop this column
pt = pt.drop('property_type',axis=1)
pt.columns

['Entire rental unit' 'Boat' 'Entire guesthouse'
 'Private room in guesthouse' 'Entire home' 'Private room in rental unit'
 'Private room in home' 'Entire condo' 'Entire townhouse' 'Entire cottage'
 'Entire villa' 'Tiny home' 'Farm stay' 'Entire loft'
 'Room in boutique hotel' 'Private room in townhouse'
 'Private room in condo' 'Private room in villa' 'Entire chalet'
 'Entire serviced apartment' 'Private room in hostel'
 'Shared room in hostel' 'Shared room in bed and breakfast' 'Windmill'
 'Room in hostel' 'Camper/RV' 'Private room in guest suite'
 'Private room in cottage' 'Earthen home'
 'Private room in bed and breakfast' 'Entire bed and breakfast'
 'Room in hotel' 'Shared room in home' 'Private room in boat'
 'Entire guest suite' 'Private room in loft' 'Casa particular'
 'Entire bungalow' 'Entire vacation home' 'Entire place'
 'Private room in nature lodge' 'Shared room in rental unit'
 'Private room in serviced apartment' 'Private room'
 'Room in serviced apartment' 'Shared room in boutique hotel'
 'Private room in tiny home' 'Shared room in guest suite'
 'Room in bed and breakfast' 'Entire cabin' 'Private room in earthen home'
 'Private room in casa particular' 'Private room in bungalow'
 'Shared room in hotel' 'Barn' 'Hut' 'Private room in minsu'
 'Private room in kezhan' 'Room in heritage hotel'
 'Private room in farm stay' 'Shipping container' 'Campsite'
 'Room in aparthotel' 'Tipi' 'Houseboat' 'Shared room in guesthouse'
 'Private room in camper/rv' 'Treehouse' 'Private room in treehouse']

Index(['id', 'price', 'number_of_reviews', 'availability_365', 'room_type',
       'neighbourhood', 'neighbourhood_group', 'accommodates', 'bedrooms',
       'bathrooms', 'host_is_superhost', 'reviews_per_month', 'last_review',
       'first_review', 'calculated_host_listings_count', 'latitude',
       'longitude', 'minimum_nights', 'host_name', 'host_since',
       'number_of_reviews_ltm', 'instant_bookable', 'host_response_rate',
       'host_acceptance_rate', 'host_response_time'],
      dtype='object')

In [27]:
## minimum_nights
### Convert to numeric type (int)
pt['minimum_nights'] = pt['minimum_nights'].astype(int)
### Relace nan for zero
pt['minimum_nights'] = pt['minimum_nights'].fillna(0)
### Check how many are 0
print((pt['minimum_nights'] == 0).sum())

0

In [28]:
## host_name
### Relace nan for zero
pt['host_name'] = pt['host_name'].fillna(0)
### Check how many are 0
print((pt['host_name'] == 0).sum())

0

In [29]:
## host_since
### Relace nan for zero
pt['host_since'] = pt['host_since'].fillna(0)
### Check how many are 0
print((pt['host_since'] == 0).sum())

0

In [30]:
## number_of_reviews_ltm
### Convert to numeric type (int)
pt['number_of_reviews_ltm'] = pt['number_of_reviews_ltm'].astype(int)
### Relace nan for zero
pt['number_of_reviews_ltm'] = pt['number_of_reviews_ltm'].fillna(0)

In [31]:
## instant_bookable
### Relace nan for 'f'
pt['instant_bookable'] = pt['instant_bookable'].fillna('f')
### Ensure all values are Boolean (T/F)
pt['instant_bookable'] = pt['instant_bookable'].replace({'f':False, 't':True})

/var/folders/67/kwhhh9lj76v79c9zbkp29ms40000gn/T/ipykernel_69282/1914101287.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pt['instant_bookable'] = pt['instant_bookable'].replace({'f':False, 't':True})

In [32]:
## host_response_rate
### Convert to numeric type (float)
pt['host_response_rate'] = pt['host_response_rate'].astype(float)
### Relace nan for zero
pt['host_response_rate'] = pt['host_response_rate'].fillna(0)
### Check how many are 0
print((pt['host_response_rate'] == 0).sum())
### Replace "0" for AVG
#### Create a series with only non-zero values for host_response_rate
non_zero_series = pt['host_response_rate'][pt['host_response_rate'] != 0]
#### Calculate the AVG of non_zero_series
avg = non_zero_series.mean()
### Replace "0" on pt for AVG of non_zero_series
pt['host_response_rate'] =pt['host_response_rate'].replace(0,avg)

1159

In [33]:
## host_acceptance_rate
### Convert to numeric type (float)
pt['host_acceptance_rate'] = pt['host_acceptance_rate'].astype(float)
### Relace nan for zero
pt['host_acceptance_rate'] = pt['host_acceptance_rate'].fillna(0)
### Check how many are 0
print((pt['host_acceptance_rate'] == 0).sum())
### Check how many are > 1
print((pt['host_acceptance_rate'] > 1).sum())

941
0

In [34]:
## host_response_time
### standardization of categories
#### check the unique values of neighbourhood_group to see if names are coherent
print(pt['host_response_time'].unique())
### Relace nan for zero
pt['host_response_time'] = pt['host_response_time'].fillna(0)

### Calculate ratio of datapoints where host_response_time = 0
total_listings=len(pt)
count_host_response_time_0 = (pt['host_response_time'] == 0).sum()
percentage_host_response_time_0 = (count_host_response_time_0 / total_listings)*100
print(percentage_host_response_time_0)
### 7,6% of datapoints have host_response_time = 0
### Delete listing where host_response_time = 0
pt = pt[pt['host_response_time'] != 0]

['within an hour' 'within a few hours' 'within a day' nan
 'a few days or more']
8.35223273637288

In [35]:
# EXPORT DATA TO CSV
# EXPORT DATA TO CSV
# Database connection parameters
user = 'root'
password = ''
host = 'localhost'  # e.g., 'localhost'
database = 'abnb'

# Create a connection string
connection_string = f'mysql+mysqlconnector://{user}:{password}@{host}/{database}'

# Create a database engine
engine = create_engine(connection_string)

# Export DataFrame to MySQL
try:
    pt.to_sql('porto', con=engine, if_exists='replace', index=False)
    print("Data exported successfully.")
except Exception as e:
    print(f"An error occurred: {e}")

Data exported successfully.

In [36]:
pt.columns

Index(['id', 'price', 'number_of_reviews', 'availability_365', 'room_type',
       'neighbourhood', 'neighbourhood_group', 'accommodates', 'bedrooms',
       'bathrooms', 'host_is_superhost', 'reviews_per_month', 'last_review',
       'first_review', 'calculated_host_listings_count', 'latitude',
       'longitude', 'minimum_nights', 'host_name', 'host_since',
       'number_of_reviews_ltm', 'instant_bookable', 'host_response_rate',
       'host_acceptance_rate', 'host_response_time'],
      dtype='object')