In [459]:
# AIRBNB (Lisbon & Porto) Analysis

In [460]:
# Import libraries
import pandas as pd
!pip install pandas mysql-connector-python 
from sqlalchemy import create_engine

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.12/site-packages (9.0.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [461]:
# Read the excel files

# Read and convert into DataFrame sheet 'listings_1'
lx_listings_1 = pd.read_excel('/Users/tiagovhp/Ironhack/Week_3/Project/AIRBNB_LX_RAW.xlsx', sheet_name='listings_1')

lx_listings_1 = pd.DataFrame(lx_listings_1)
lx_listings_1.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6499,Belém 1 Bedroom Historical Apartment,14455,Bruno,Lisboa,Belm,38.69750,-9.19768,Entire home/apt,84.0,4,76,2024-08-20,0.62,1,252,15,NaN
1,25659,Heart of Alfama - Le cœur d'Alfama (3 people),107347,Ellie,Lisboa,Santa Maria Maior,38.71241,-9.12706,Entire home/apt,96.0,2,213,2024-09-13,1.68,1,270,19,56539/AL.
2,29396,Alfama Hill - Boutique apartment,126415,Mónica,Lisboa,Santa Maria Maior,38.71156,-9.12987,Entire home/apt,78.0,2,401,2024-09-06,2.67,1,295,22,28737/AL
3,29720,TheHOUSE - Your luxury home,128075,Francisco,Lisboa,Estrela,38.71108,-9.15979,Entire home/apt,1032.0,2,133,2024-09-01,0.80,1,263,24,55695/AL
4,29915,Modern and Spacious Apartment in Lisboa,128890,Sara,Lisboa,Avenidas Novas,38.74571,-9.15264,Entire home/apt,100.0,6,61,2024-05-20,0.35,1,92,5,85851/AL.

In [462]:
# Read and convert into DataFrame sheet 'listings_2'
lx_listings_2 = pd.read_excel('/Users/tiagovhp/Ironhack/Week_3/Project/AIRBNB_LX_RAW.xlsx', sheet_name='listings_2')

lx_listings_2 = pd.DataFrame(lx_listings_2)
lx_listings_2.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,208683,https://www.airbnb.com/rooms/208683,20240914011204,2024-09-14,city scrape,Cozy central apartment with view,This fully renovated apartment located in the ...,The Alfama neighborhood is one of the oldest n...,https://a0.muscache.com/pictures/21533977/a19d...,753902,...,4.87,4.90,4.66,35037/AL,t,5,5,0,0,0.92
1,211614,https://www.airbnb.com/rooms/211614,20240914011204,2024-09-15,previous scrape,Studio12 Monte Estoril Cascais -Pool and tennis,Nice studio at pool and garden level in a nice...,Monte Estoril is a high standard area close to...,https://a0.muscache.com/pictures/2081269/ba9d9...,758277,...,4.79,4.73,4.48,59068/AL,f,2,2,0,0,0.43
2,211616,https://www.airbnb.com/rooms/211616,20240914011204,2024-09-14,city scrape,Beguinhos: A balcony over Lisbon,A duplex apartment in Alfama with a beautiful ...,The apartment is located on the edge of the ol...,https://a0.muscache.com/pictures/2247589/788d1...,1091599,...,4.92,4.94,4.79,25786/AL,f,1,1,0,0,2.01
3,214729,https://www.airbnb.com/rooms/214729,20240914011204,2024-09-14,city scrape,Lisboa alojamento de curta duração,To get to know Lisbon close to everything.,Close to Campo Grande garden quiet area.,https://a0.muscache.com/pictures/1921350/43d8b...,1108485,...,4.98,4.85,4.85,NaN,f,2,0,2,0,0.36
4,217281,https://www.airbnb.com/rooms/217281,20240914011204,2024-09-14,city scrape,Room near the University of Lisbon,NaN,NaN,https://a0.muscache.com/pictures/1932692/c94d0...,1108485,...,5.00,5.00,5.00,6743/AL,f,2,0,2,0,0.42

In [463]:
# evaluate the columns in each DataFrame
print(lx_listings_1.columns)
print(lx_listings_2.columns)

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')
Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [464]:
# Find the common columns between two Dataframes
common_columns = lx_listings_1.columns.intersection(lx_listings_2.columns).tolist()
common_columns

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365',
 'number_of_reviews_ltm',
 'license']

In [465]:
#Covert 'price' to float on both dataframes
#(was not able to merge because differnet type of price data)
#lx_listings_1['price'] = pd.to_numeric(lx_listings_1['price'])
#lx_listings_2['price'] = pd.to_numeric(lx_listings_2['price'])

In [466]:
# Drop all common columns from listings_2  exept 'id'
common_columns.remove('id')
common_columns

lx_listings_2 = lx_listings_2.drop(columns=common_columns)

In [467]:
# Merge the two DataFrames into one that contains all the info from Lisbon listings
lx = pd.merge(lx_listings_1,lx_listings_2,on='id',how='inner')

# Check if there are any duplicate columns
len(lx.columns) == len(set(lx.columns))

True

In [468]:
# Create a new Dataframe with only the usefull columns
top_25_columns = [
    'id',
    'price',
    'number_of_reviews',
    'availability_365',
    'room_type',
    'neighbourhood',
    'neighbourhood_group',
    'accommodates',
    'bedrooms',
    'bathrooms',
    'host_is_superhost',
    'reviews_per_month',
    'last_review',
    'first_review',
    'calculated_host_listings_count',
    'latitude',
    'longitude',
    'property_type',
    'minimum_nights',
    'host_name',
    'host_since',
    'number_of_reviews_ltm',
    'instant_bookable',
    'host_response_rate',
    'host_acceptance_rate',
    'host_response_time'
]


lx = lx[top_25_columns]
lx.shape

(24204, 26)

In [469]:
# DATA CLEANING

In [470]:
## id
### Convert to numeric type (int)
lx['id'] = lx['id'].astype(int)
### See if there is any empty or 0 id's 
lx['id'] = lx['id'].fillna(0)
print((lx['id'] == 0).sum())
### Check for duplicates
print(len(set(lx['id'])) == len(lx['id']))

0
True

In [471]:
## price
### Remove any non-numeric characters ( $ n) -> done in excel
### Convert to numeric type (float)
lx['price'] = pd.to_numeric(lx['price'])
### Relace nan for zero
lx['price'] = lx['price'].fillna(0)
### Calculate ratio of datapoints where price = 0
total_listings=len(lx)
count_price_0 = (lx['price'] == 0).sum()
percentage_price_0 = (count_price_0 / total_listings)*100
print(percentage_price_0)
### 12,3% of datapoints have price = 0
### Delete listing where price = 0
lx = lx[lx['price'] != 0]

12.27483060651132

In [472]:
## number_of_reviews
### Convert to numeric type (int)
lx['number_of_reviews'] = lx['number_of_reviews'].astype(int)
### Relace nan for zero
lx['number_of_reviews'] = lx['number_of_reviews'].fillna(0)

In [473]:
## availability_365
### Convert to numeric type (int)
lx['availability_365'] = lx['availability_365'].astype(int)
### Relace nan for zero
lx['availability_365'] = lx['availability_365'].fillna(0)
### Calculate ratio of datapoints where availability_365 = 0
total_listings=len(lx)
count_avaia_0 = (lx['availability_365'] == 0).sum()
percentage_ava_0 = (count_avaia_0 / total_listings)*100
print(percentage_ava_0)
### 1.6 % of datapoints have price = 0 -> we keep them

1.568313474308859

In [474]:
## room_type
### standardization of categories
#### check the unique values of room_type to see if names are coherent
print(lx['room_type'].unique())

['Entire home/apt' 'Private room' 'Shared room' 'Hotel room']

In [475]:
## neighbourhood_group
### standardization of categories
#### check the unique values of neighbourhood_group to see if names are coherent
print(lx['neighbourhood_group'].unique())

['Lisboa' 'Cascais' 'Sintra' 'Oeiras' 'Mafra' 'Torres Vedras' 'Lourinh'
 'Cadaval' 'Amadora' 'Alenquer' 'Odivelas' 'Loures' 'Vila Franca De Xira'
 'Arruda Dos Vinhos' 'Azambuja' 'Sobral De Monte Agrao']

In [476]:
## accomodates
### Convert to numeric type (int)
lx['accommodates'] = lx['accommodates'].astype(int)
### Check if there any listing that accommodates 0 guests
print(lx['accommodates'].isnull().unique())

[False]

In [477]:
## bathrooms
### Convert to numeric type (float)
lx['bathrooms'] = lx['bathrooms'].astype(float)
### Relace nan for zero
lx['bathrooms'] = lx['bathrooms'].fillna(0)

In [478]:
## host_is_superhost
### Relace nan for 'f'
lx['host_is_superhost'] = lx['host_is_superhost'].fillna('f')
### Ensure all values are Boolean (T/F)
lx['host_is_superhost'] = lx['host_is_superhost'].replace({'f':False, 't':True})

/var/folders/67/kwhhh9lj76v79c9zbkp29ms40000gn/T/ipykernel_68642/2513663677.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  lx['host_is_superhost'] = lx['host_is_superhost'].replace({'f':False, 't':True})

In [479]:
## reviews_per_month
### Convert to numeric type (float)
lx['reviews_per_month'] = lx['reviews_per_month'].astype(float)
### Relace nan for zero
lx['reviews_per_month'] = lx['reviews_per_month'].fillna(0)

In [480]:
## last_review
### Relace nan for zero
lx['last_review'] = lx['last_review'].fillna(0)
### Check how many
(lx['last_review'] == 0).sum()

2394

In [481]:
## first_review
### Relace nan for zero
lx['first_review'] = lx['first_review'].fillna(0)
### Check how many are 0
(lx['first_review'] == 0).sum()
## Same nr of datapoint with no last_review and no first_review -> all good, same datapoints

2394

In [482]:
## latitude
### Relace nan for zero
lx['latitude'] = lx['latitude'].fillna(0)
### Check how many are 0
print((lx['latitude'] == 0).sum())

0

In [483]:
## longitude
### Relace nan for zero
lx['longitude'] = lx['longitude'].fillna(0)
### Check how many are 0
print((lx['longitude'] == 0).sum())

0

In [484]:
## property_type
### standardization of categories
#### check the unique values of neighbourhood_group to see if names are coherent
print(lx['property_type'].unique())
### two many categories, we can drop this column
lx = lx.drop('property_type',axis=1)
lx.columns

['Entire rental unit' 'Entire condo' 'Private room in rental unit'
 'Private room in condo' 'Entire home' 'Private room in boat'
 'Entire serviced apartment' 'Entire cottage' 'Private room in townhouse'
 'Entire loft' 'Entire chalet' 'Private room in home'
 'Private room in bed and breakfast' 'Tiny home' 'Entire townhouse' 'Boat'
 'Entire guesthouse' 'Entire guest suite' 'Entire villa' 'Private room'
 'Casa particular' 'Shared room in home'
 'Private room in serviced apartment' 'Shared room in serviced apartment'
 'Shared room in hostel' 'Private room in hostel' 'Private room in villa'
 'Private room in guesthouse' 'Windmill' 'Private room in guest suite'
 'Private room in cottage' 'Entire bungalow'
 'Private room in nature lodge' 'Room in bed and breakfast' 'Earthen home'
 'Entire bed and breakfast' 'Entire vacation home'
 'Private room in farm stay' 'Entire cabin' 'Private room in castle'
 'Room in boutique hotel' 'Castle' 'Shared room in rental unit'
 'Room in hostel' 'Room in serviced apartment' 'Private room in chalet'
 'Shared room in guesthouse' 'Room in hotel' 'Room in nature lodge'
 'Shared room in bed and breakfast' 'Entire place' 'Camper/RV'
 'Lighthouse' 'Private room in camper/rv' 'Cave' 'Farm stay' 'Hut'
 'Private room in cabin' 'Private room in tiny home' 'Treehouse'
 'Entire hostel' 'Room in aparthotel' 'Private room in casa particular'
 'Shipping container' 'Campsite' 'Private room in bungalow' 'Houseboat'
 'Shared room in boutique hotel' 'Private room in dome'
 'Shared room in hotel' 'Entire home/apt' 'Private room in loft' 'Tent'
 'Private room in tent' 'Private room in earthen home'
 'Shared room in condo' 'Dome' 'Private room in vacation home'
 'Shared room in townhouse' 'Bus' 'Holiday park' 'Shared room in villa'
 'Barn' 'Private room in minsu' 'Religious building'
 'Private room in windmill']

Index(['id', 'price', 'number_of_reviews', 'availability_365', 'room_type',
       'neighbourhood', 'neighbourhood_group', 'accommodates', 'bedrooms',
       'bathrooms', 'host_is_superhost', 'reviews_per_month', 'last_review',
       'first_review', 'calculated_host_listings_count', 'latitude',
       'longitude', 'minimum_nights', 'host_name', 'host_since',
       'number_of_reviews_ltm', 'instant_bookable', 'host_response_rate',
       'host_acceptance_rate', 'host_response_time'],
      dtype='object')

In [485]:
## minimum_nights
### Convert to numeric type (int)
lx['minimum_nights'] = lx['minimum_nights'].astype(int)
### Relace nan for zero
lx['minimum_nights'] = lx['minimum_nights'].fillna(0)
### Check how many are 0
print((lx['minimum_nights'] == 0).sum())

0

In [486]:
## host_name
### Relace nan for zero
lx['host_name'] = lx['host_name'].fillna(0)
### Check how many are 0
print((lx['host_name'] == 0).sum())

0

In [487]:
## host_since
### Relace nan for zero
lx['host_since'] = lx['host_since'].fillna(0)
### Check how many are 0
print((lx['host_since'] == 0).sum())

0

In [488]:
## number_of_reviews_ltm
### Convert to numeric type (int)
lx['number_of_reviews_ltm'] = lx['number_of_reviews_ltm'].astype(int)
### Relace nan for zero
lx['number_of_reviews_ltm'] = lx['number_of_reviews_ltm'].fillna(0)

In [489]:
## instant_bookable
### Relace nan for 'f'
lx['instant_bookable'] = lx['instant_bookable'].fillna('f')
### Ensure all values are Boolean (T/F)
lx['instant_bookable'] = lx['instant_bookable'].replace({'f':False, 't':True})

/var/folders/67/kwhhh9lj76v79c9zbkp29ms40000gn/T/ipykernel_68642/3250930934.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  lx['instant_bookable'] = lx['instant_bookable'].replace({'f':False, 't':True})

In [490]:
## host_response_rate
### Convert to numeric type (float)
lx['host_response_rate'] = lx['host_response_rate'].astype(float)
### Relace nan for zero
lx['host_response_rate'] = lx['host_response_rate'].fillna(0)
### Check how many are 0
print((lx['host_response_rate'] == 0).sum())
### Replace "0" for AVG
#### Create a series with only non-zero values for host_response_rate
non_zero_series = lx['host_response_rate'][lx['host_response_rate'] != 0]
#### Calculate the AVG of non_zero_series
avg = non_zero_series.mean()
### Replace "0" on lx for AVG of non_zero_series
lx['host_response_rate'] =lx['host_response_rate'].replace(0,avg)

1853

In [491]:
## host_acceptance_rate
### Convert to numeric type (float)
lx['host_acceptance_rate'] = lx['host_acceptance_rate'].astype(float)
### Relace nan for zero
lx['host_acceptance_rate'] = lx['host_acceptance_rate'].fillna(0)
### Check how many are 0
print((lx['host_acceptance_rate'] == 0).sum())
### Check how many are > 1
print((lx['host_acceptance_rate'] > 1).sum())

1528
0

In [492]:
## host_response_time
### standardization of categories
#### check the unique values of neighbourhood_group to see if names are coherent
print(lx['host_response_time'].unique())
### Relace nan for zero
lx['host_response_time'] = lx['host_response_time'].fillna(0)

### Calculate ratio of datapoints where host_response_time = 0
total_listings=len(lx)
count_host_response_time_0 = (lx['host_response_time'] == 0).sum()
percentage_host_response_time_0 = (count_host_response_time_0 / total_listings)*100
print(percentage_host_response_time_0)
### 7,6% of datapoints have host_response_time = 0
### Delete listing where host_response_time = 0
lx = lx[lx['host_response_time'] != 0]

['within an hour' 'within a few hours' nan 'within a day'
 'a few days or more']
7.639052418405312

In [529]:
# EXPORT DATA TO CSV
# Database connection parameters
user = 'root'
password = ''
host = 'localhost'  # e.g., 'localhost'
database = 'abnb'

# Create a connection string
connection_string = f'mysql+mysqlconnector://{user}:{password}@{host}/{database}'

# Create a database engine
engine = create_engine(connection_string)

# Export DataFrame to MySQL
try:
    lx.to_sql('lx', con=engine, if_exists='replace', index=False)
    print("Data exported successfully.")
except Exception as e:
    print(f"An error occurred: {e}")

Data exported successfully.

In [395]:
### Outliers price

Q1 = lx['price'].quantile(0.25)  # First quartile (25%)
Q3 = lx['price'].quantile(0.75)  # Third quartile (75%)
IQR = Q3 - Q1  # Interquartile Range

# Define lower and upper bounds for outliers
lower_bound = Q1 - 50 * IQR
upper_bound = Q3 + 50 * IQR

# Identify outliers
outliers = lx[(lx['price'] < lower_bound) | (lx['price'] > upper_bound)]

# View the outliers
print(len(outliers))

# Remove outliers based on IQR
lx = lx[(lx['price'] >= lower_bound) & (lx['price'] <= upper_bound)]

21